<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registro de Medicos</title>
	<style>
		html {
			background-color: #c5dec9;
		}
	</style>
</head>

<body>
	<h1 align="center"> Registrar Medico</h1>
	<form th:action="@{/Vistas/GuardarMedico}" method="post" th:object="${regproducto}">
		<table align="center" border="2">
			<input type="hidden" th:field="*{IDMEDICOCL3}">
			<tr>
				<td>
					nombre
				</td>
				<td>
					<input type="text" th:field="*{NOMBRECL3}">
				</td>
			</tr>
			<tr>
				<td>
					apellido
				</td>
				<td>
					<input type="number" th:field="*{APELLIDOCL3}">
				</td>
			</tr>
			<tr>
				<td>
					email
				</td>
				<td>
					<input type="number" th:field="*{EMAIL}">
				</td>
			</tr>

			<tr>
				<td>
					dni
				</td>
				<td>
					<input type="text" th:field="*{DNICL3}">
				</td>
			</tr>
			<tr>
				<td>
					estado
				</td>
				<td>
					<input type="number" th:field="*{ESTADOCIVILCL3}">
				</td>
			</tr>
			<tr>
				<td>
					fechaNac
				</td>
				<td>
					<input type="date" th:field="*{FECHANACIMCL3}">
				</td>
			</tr>
			<tr>

				<td colspan="2" align="center">
					<input type="submit" value="registrar">
				</td>
			</tr>
		</table>
	</form>
	<!--
		ejecucion del proyecto...
		http://localhost:8080/Vistas/ListadoMedicos
	-->
</body>

</html>